{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('css/my.css')}}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Form Successfully submited!</h1>
        <p class='box'>{{message}} at {{created}}</p>
    </div>
{% endblock %}
